@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

body,
html {
  background: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  font-family: 'Syncopate', sans-serif;
  overflow-x: hidden;
}

@media (max-width: 800px) {
  body .navegacao-fundo-auxiliar {
    cursor: pointer;
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.99);
    width: 0px;
    height: 0px;
    transition: background-color 0.3s ease-in;
  }

  body.navAberto {
    overflow-y: hidden;
  }

  body.navAberto .navegacao-fundo-auxiliar {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    transition: background-color 0.3s ease-out;
  }

  body.navAberto .btn-toggle-menu {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }

  body.navAberto>nav {
    overflow-y: auto;
    max-height: 90vh;
    transition: max-height 0.3s ease-out;
  }

  body .separador {
    border-bottom: 1px solid #ffffff7c;
    margin-top: 8px;
    margin-bottom: 8px;
    display: block;
  }

  body .btn-toggle-menu {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 8px;
    cursor: pointer;
    display: block;
    border-radius: 50%;
    position: fixed;
    bottom: 8px;
    right: 16px;
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }

  body .btn-toggle-menu:hover {
    background: #151515;
    transition: 0.5s;
  }

  body .btn-toggle-menu:active {
    background: #484848;
  }

  body>nav {
    position: fixed;
    max-height: 100vh;
    left: 0px;
    width: 100%;
    bottom: 0px;
    max-height: 54px;
    color: #FFF;
    background: #252627;
    transition: max-height 0.3s ease-in;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 999;
  }

  body>nav>h3 {
    color: #626262;
    font-weight: normal;
    font-size: 13px;
    padding-left: 16px;
  }

  body>nav>h2 {
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 20px;
    font-size: 20px;
  }

  body>nav>ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  body>nav>ul>li {
    height: 48px;
    box-sizing: border-box;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 4px;
  }

  body>nav>ul>li.ativo>a {
    font-weight: bold;
    background: #F89D03;
  }

  body>nav>ul>li>a {
    border-radius: 0px 20px 20px 0px;
    display: block;
    padding-right: 16px;
    padding-top: 10px;
    padding-left: 16px;
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }

  body>nav>ul>li>a:hover {
    background: #484848;
    transition: 0.5s;
  }

  body>main {
    transition: padding-left 0.9s ease-in;
  }

  body>main>header {
    background: #252627;
    height: 10%;
    padding: 1%;
    padding-left: 3%;
    box-sizing: border-box;
    transition: padding-left 0.9s ease-in;
  }

  body>main>section {
    display: block;
    padding: 8px;
    box-sizing: border-box;
    background-color: #FFFFFF;
  }

  body>main>section>.cartao {
    background: #444;
    width: calc(100% - 8px);
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 2%;
    height: 100px;
    border-radius: 5px;
    display: inline-block;
    box-sizing: border-box;
  }

  .search {
    display: inline-block;
    position: relative;
  }

  .search input[type="text"] {
    width: 600px;
    padding: 3% 0.1% 3%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .search button[type="submit"] {
    background-color: #4e99e9;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 2.3% 5%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .9s ease;
  }

  .search button[type="submit"]:hover {
    transform: scale(1.05);
    color: rgb(255, 255, 255);
    background-color: blue;
  }

  #logo-lateral {
    width: 20px;
  }

  #icon-lateral {
    width: 20px;
  }

  .icon-rede-lateral {
    width: 3%;
    padding-right: 3%;
    padding-bottom: -40%;
  }

  #hover-login {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  #hover-login p {
    margin-top: 3px;
  }


  #cabecalho {
    display: flex;
    justify-content: center;
  }

  .elementos {
    background-color: rgba(245, 222, 179, 0);
    margin: 1%;
    width: 50%;
    justify-content: center;
  }

  .elementos h1 {
    justify-content: center;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    font-family: 'Corben', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sometype Mono', monospace;
  }
}

@media (min-width: 800px) {


  body .navegacao-fundo-auxiliar {
    cursor: pointer;
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.99);
    width: 0px;
    height: 0px;
    transition: background-color 1s ease-in;
  }

  body.navAberto .navegacao-fundo-auxiliar {
    width: 100%;
    height: 100vh;
    background-color: rgba(6, 6, 6, 0.75);
    transition: background-color 0.9s ease-out;
  }

  body.navAberto .btn-toggle-menu {
    left: 270px;
    transition: left 0.9s ease-out;
  }

  body.navAberto>nav {
    left: 0px;
    transition: left 0.9s ease-out;
  }

  body .separador {
    border-bottom: 1px solid #ffffff7c;
    margin-top: 8px;
    margin-bottom: 8px;
    display: block;
  }

  body .btn-toggle-menu {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 8px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 16px;
    transition: left 0.9s ease-in;
  }

  body .btn-toggle-menu:hover {
    background: #15151500;
    transition: 0.9s;
  }

  body .btn-toggle-menu:active {
    background: #484848;
  }

  body>nav {
    position: fixed;
    top: 0;
    height: 100vh;
    left: -254px;
    width: 254px;
    color: #FFF;
    background: #252627;
    transition: left 0.9s ease-in;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
  }

  body>nav>h3 {
    color: #626262;
    font-weight: normal;
    font-size: 13px;
    padding-left: 16px;
  }

  body>nav>h2 {
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 20px;
    font-size: 20px;
  }

  body>nav>ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  body>nav>ul>li {
    height: 48px;
    box-sizing: border-box;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 4px;
  }

  body>nav>ul>li.ativo>a {
    font-weight: bold;
    background: #F89D03;
  }

  body>nav>ul>li>a {
    border-radius: 0px 20px 20px 0px;
    display: block;
    padding-right: 16px;
    padding-top: 10px;
    padding-left: 16px;
    height: 40px;
    font-size: 15px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }

  body>nav>ul>li>a:hover {
    background: #484848;
    transition: 0.5s;
  }

  body>main {
    transition: padding-left 0.3s ease-in;
  }

  body>main>header {
    background: #252627;
    height: 5%;
    padding: 1%;
    padding-left: 4%;
    box-sizing: border-box;
    transition: padding-left 0.3s ease-in;
  }

  body>main>section {
    display: block;
    padding: 8px;
    box-sizing: border-box;
  }

  body>main>section>.cartao {
    background: #444;
    width: calc(50% - 16px);
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 208px;
    border-radius: 8px;
    display: inline-block;
    box-sizing: border-box;
  }

  .search {
    display: inline-block;
    position: relative;
  }

  .search input[type="text"] {
    width: 600px;
    padding: 3% 0.1% 3%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .search button[type="submit"] {
    background-color: #F89D03;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 2.3% 5%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .9s ease;
  }

  .search button[type="submit"]:hover {
    transform: scale(1.05);
    color: rgb(255, 255, 255);
    background-color: blue;
  }

  #logo-lateral {
    width: 20px;
  }

  #icon-lateral {
    width: 20px;
  }

  .icon-rede-lateral {
    width: 3%;
    padding-right: 3%;
    padding-bottom: -40%;
  }

  #hover-login {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  #hover-login p {
    margin-top: 3px;
  }


  #cabecalho {
    display: flex;
    justify-content: center;
  }

  .elementos {
    background-color: rgba(245, 222, 179, 0);
    margin: 1%;
    width: 50%;
    justify-content: center;
  }

  .elementos h1 {
    justify-content: center;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    font-family: 'Corben', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sometype Mono', monospace;
  }
}

@media (min-width: 1120px) {
  body .navegacao-fundo-auxiliar {
    display: none;
  }

  body.navAberto .btn-toggle-menu {
    left: 260px;
    transition: left 1s ease-out;
  }

  body.navAberto>nav {
    left: 0px;
    transition: left 0.5s ease-out;
    overflow-y: hidden;
  }

  body.navAberto>main {
    padding-left: 1px;
    transition: padding-left 0.9s ease-out;
  }

  body.navAberto>main>header {
    padding-left: 300px;
    transition: padding-left 0.5s ease-out;
  }

  body .separador {
    border-bottom: 1px solid #ffffff7c;
    margin-top: 8px;
    margin-bottom: 8px;
    display: block;
  }

  body .btn-toggle-menu {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 8px;
    cursor: pointer;
    display: block;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 8px;
    left: 16px;
    transition: left 0.3s ease-in;
  }

  body .btn-toggle-menu:hover {
    background: #15151500;
    transition: 0.5s;
  }

  body .btn-toggle-menu:active {
    background: #484848;
  }

  body>nav {
    position: fixed;
    top: 0;
    height: 100vh;
    left: -254px;
    width: 254px;
    color: #FFF;
    background: #252627;
    transition: left 0.3s ease-in;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
  }

  body>nav>h3 {
    color: #626262;
    font-weight: normal;
    font-size: 13px;
    padding-left: 16px;
  }

  body>nav>h2 {
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 20px;
    font-size: 20px;
  }

  body>nav>ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  body>nav>ul>li {
    height: 48px;
    box-sizing: border-box;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 4px;
  }

  body>nav>ul>li.ativo>a {
    font-weight: bold;
    background: #F89D03;
  }

  body>nav>ul>li>a {
    border-radius: 0px 20px 20px 0px;
    display: block;
    padding-right: 16px;
    padding-top: 10px;
    padding-left: 16px;
    height: 40px;
    font-size: 11px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }

  body>nav>ul>li>a:hover {
    background: #484848;
    transition: 0.5s;
  }

  body>main {
    transition: padding-left 0.3s ease-in;
  }

  body>main>header {
    background: #252627;
    height: 1%;
    padding: 0.2%;
    padding-left: 3%;
    box-sizing: border-box;
    transition: padding-left 0.3s ease-in;
  }


  body>main>section {
    display: block;
    padding: 8px;
    box-sizing: border-box;
  }

  body>main>section>.cartao {
    background: #444;
    width: calc(5% - 5px);
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 108px;
    border-radius: 8px;
    border-radius: 50%;
    display: inline-flexbox;
    box-sizing: border-box;
  }

  .search {
    display: inline-block;
    position: relative;
  }

  .search input[type="text"] {
    width: 600px;
    padding: 3% 0.1% 3%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .search button[type="submit"] {
    background-color: #f89e03b6;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 2.35% 5%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .9s ease;
  }

  .search button[type="submit"]:hover {
    transform: scale(1.05);
    color: rgb(255, 255, 255);
    background-color: #F89D03;
  }

  #logo-lateral {
    width: 20px;
  }

  #icon-lateral {
    width: 20px;
  }

  .icon-rede-lateral {
    width: 3%;
    padding-right: 3%;
    padding-bottom: -40%;
  }

  #cabecalho {
    display: flex;
  }

  .elementos {
    width: 100%;
    justify-content: center;
  }

  .elementos:nth-child(1) {
    width: 25%;
    background-color: #ff000000;
  }

  .elementos:nth-child(2) {
    width: 70%;
    background-color: #4e99e900;
  }

  .elementos:nth-child(3) {
    width: 10%;
    background-color: #0800ff00;
  }

  .elementos img {
    width: 100%;
  }

  #seta-baixo {
    margin-bottom: -9%;
  }

  #nome-logo {
    background-color: #4e99e900;
    margin: 0;
    padding: 10%;
  }

  #nome-logo img {
    width: 100%;
  }

  .searchBox {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #FFFFFF;
    border-radius: 50px;
    position: relative;
  }

  .searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f89e03c6;
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  }


  button:hover {
    color: #fff;
    background-color: #F89D03;
    box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px;
    transform: translateY(-3px);
  }

  button:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .searchInput {
    border: none;
    background: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 24px 46px 24px 46px;
  }

  #blocao {
    background-color: #252627;
    display: flex;
    color: white;
    padding: 1%;
    margin-top: 20%;
  }

  #bloquinho1 {
    width: 25%;
    text-align: center;
    margin-top: 4%;
  }

  #bloquinho1 h1 {
    font-size: 30px;
  }

  #bloquinho1 ul {
    list-style-type: none;
    text-align: left;
    margin-left: 26%;
  }

  #bloquinho1 ul li {
    margin-top: 10%;
  }

  #bloquinho1 ul li a {
    text-decoration: none;
    color: white;
    font-size: 11px;
  }

  #bloquinho1 ul li a:hover {
    color: #F89D03;
    transition: 0.4s;
  }

  #bloquinho2 {
    margin-top: 3%;
    width: 50%;
    text-align: center;
  }

  #bloquinho2 img {
    width: 40%;
  }

  #bloquinho3 {
    width: 25%;
    text-align: center;
    margin-top: 2%;
  }

  #bloquinho3 h1 {
    font-size: 30px;
  }

  #bloquinho3 p {
    text-align: justify;
    padding-right: 5%;
  }

  #creditos {
    text-align: center;
    background-color: #F89D03;
    padding: 0.5%;
    width: 100%;
  }

  #maisop {
    text-align: center;
  }

  #maisop ul {
    display: flex;
    justify-content: center;
  }

  #maisop ul li {
    margin: 1%;
    list-style-type: none;
  }

  #maisop ul li a {
    color: black;
    font-style: italic;
  }

  #maisop ul li a:hover {
    transition: 0.4s;
    color: #F89D03;
  }

  #destaque {
    background-color: #F89D03;
    margin: 0;
    background: url(https://th.bing.com/th/id/R.3595a1644a9b9eb75649feb372b49d7c?rik=z%2fArf1OSEFz29w&riu=http%3a%2f%2fwww.viajejet.com%2fwp-content%2fviajes%2fpreparar-Enchilada.jpg&ehk=EvS5KKgfhuIVKGhpCquuBLCUhkzZVVXii1G48f96Iko%3d&risl=&pid=ImgRaw&r=0) no-repeat 50%;
    padding: 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #destaque h3 {
    font-size: 5rem;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
  }

  #destaque h1 {
    font-size: 10rem;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  #destaque-dica1 {
    background-color: #F89D03;
    margin: 0;
    background: url(/IMGs/destaque-dica-1.jpg) no-repeat 50%;
    background-size: 1980px 1080px;
    padding: 4%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #destaque-dica1 h3 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
  }

  #destaque-dica1 h1 {
    font-size: 8rem;
    color: white;
  }

  #destaque-dica2 {
    background-color: #F89D03;
    margin: 0;
    background: url(/IMGs/destaque-dica-2.jpg) no-repeat 50%;
    background-size: 1920px 600px;
    padding: 6%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #destaque-dica2 h3 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
   
    letter-spacing: 2px;
  }

  #destaque-dica2 h1 {
    font-size: 5rem;
    color: rgb(255, 255, 255);
   
  }

  #destaque-dica3 {
    background-color: #F89D03;
    margin: 0;
    background: url(/IMGs/destaque-dica-3.jpg) no-repeat 50%;
    background-size: 1980px 1080px;
    padding: 7%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #destaque-dica3 h3 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
  
    letter-spacing: 2px;
  }

  #destaque-dica3 h1 {
    font-size: 5rem;
    color: white;
    
  }

  #destaque-dica4 {
    background-color: #F89D03;
    margin: 0;
    background: url(/IMGs/destaque-dica-4.jpg) no-repeat 50%;
    background-size: 1980px 1080px;
    padding: 1%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #destaque-dica4 h3 {
    font-size: 5rem;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
  }

  #destaque-dica4 h1 {
    font-size: 10rem;
    color: white;
  }

  #destaque-dica5 {
    background-color: #F89D03;
    margin: 0;
    background: url(/IMGs/destaque-dica-5.jpg) no-repeat 50%;
    background-size: 1980px 1080px;
    padding: 1%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #destaque-dica5 h3 {
    font-size: 5rem;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
  }

  #destaque-dica5 h1 {
    font-size: 10rem;
    color: white;
  }

  #intro {
    padding: 8%;
  }

  #intro h1 {
    font-size: 5rem;
  }

  #intro hr {
    border-color: #1515152e;
  }

  #intro p {
    margin-top: 2%;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 300%;
  }



  .bloco {
    display: flex;
    width: 80%;
    padding-left: 5%;
    padding-right: 10%;

  }

  #foto-receita {
    width: 33.3%;
    margin-left: 10%;
    margin-right: 30%;
  }


  .containerum {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 300px;


    >div {
      flex: 0 0 510px;
      border-radius: 0.5rem;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      box-shadow: 1px 5px 15px #ffa2001e;
      position: relative;
      overflow: hidden;

      &:nth-of-type(1) {
        background: url("https://th.bing.com/th/id/OIP.KKtpGJc9GC8tan1mjbJRIAHaE8?pid=ImgDet&rs=1") no-repeat 50% / cover;
      }

      &:nth-of-type(2) {
        background: url("https://th.bing.com/th/id/R.1bfb5db94ad7845ebc04ae24beb36f75?rik=AOAyx7CyUDmIBA&pid=ImgRaw&r=0") no-repeat 50% / cover;
      }

      &:nth-of-type(3) {
        background: url("https://tipsparatuviaje.com/wp-content/uploads/2019/11/sushi-comida.jpg") no-repeat 50% / cover;
      }

      &:nth-of-type(4) {
        background: url("https://th.bing.com/th/id/R.a5f5f90cfe5b8e4fd0f30b10badcf7eb?rik=T6ygWwS7LSMCyg&riu=http%3a%2f%2fpartiupelomundo.com%2fwp-content%2fuploads%2f2017%2f03%2fcomidas-tipicas-nordestinas.jpg&ehk=6tZ1hBlrPYivSYpPs1lXbjXebY2UN5DJD8OZ63fMJpI%3d&risl=&pid=ImgRaw&r=0") no-repeat 50% / cover;
      }

      &:nth-of-type(5) {
        background: url("https://www.cardamomo.news/__export/1610560169066/sites/debate/img/2021/01/13/8_comidas_deliciosas_y_bajas_en_grasas_para_perder_peso_crop1610560087396.jpeg_242310155.jpeg") no-repeat 50% / cover;
      }

      &:nth-of-type(6) {
        background: url("https://s2-receitas.glbimg.com/x7TGabzB_IW78N-3yzkh6Pyq_jE=/0x0:1600x900/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_1f540e0b94d8437dbbc39d567a1dee68/internal_photos/bs/2023/0/Q/nu8QgPRTSoYISY5EHPhw/bolo-de-cenoura-vegano.jpg") no-repeat 50% / cover;
      }

      &:nth-of-type(7) {
        background: url("https://th.bing.com/th/id/R.c0af5de8c8715e13208363465b3883e5?rik=M9ZpzQGLu6biHQ&pid=ImgRaw&r=0") no-repeat 50% / cover;
      }

      &:nth-of-type(8) {
        background: url("https://img.cybercook.com.br/receitas/904/macarrao-caprese-em-uma-panela-so-1.jpeg") no-repeat 50% / cover;
      }

      &:nth-of-type(9) {
        background: url("https://th.bing.com/th/id/OIP.4BVFiece0QMZHFjdoSvj-QHaFj?pid=ImgDet&rs=1") no-repeat 50% / cover;
      }

      &:nth-of-type(10) {
        background: url("https://th.bing.com/th/id/R.017dea4baeda9ff407769649f752b00d?rik=G%2fgu9oGEF%2bOegw&pid=ImgRaw&r=0") no-repeat 50% / cover;
      }

      &:nth-of-type(11) {
        background: url("https://th.bing.com/th/id/R.f717867788859803c92e8e6ce0d2c48d?rik=ohLTz688agNFbw&pid=ImgRaw&r=0") no-repeat 50% / cover;
      }

      &:nth-of-type(12) {
        background: url("https://th.bing.com/th/id/R.da455321000007744ad79ef9c2ec44db?rik=EI3YEBv3KK7SHw&riu=http%3a%2f%2f3.bp.blogspot.com%2f-nO7Sk1ZgSFM%2fUETN1e8BKaI%2fAAAAAAAAAEw%2ftVNne22mBcw%2fs1600%2f_MG_0006.jpg&ehk=a69DUTpdRtdGZqf1o%2bovqB4K9G6rgq6bVWdOhGyDYjE%3d&risl=&pid=ImgRaw&r=0") no-repeat 50% / cover;
      }

      &:nth-of-type(13) {
        background: url("https://th.bing.com/th/id/OIP.JWMiZfXJg0Oy-G_pU8q4cgAAAA?pid=ImgDet&rs=1") no-repeat 50% / cover;
      }

      &:nth-of-type(14) {
        background: url("https://th.bing.com/th/id/OIP.TfVebZGyOAbZQLivR1hCOgHaEf?pid=ImgDet&rs=1") no-repeat 50% / cover;
      }

      &:hover {
        flex: 0 0 350px;
        box-shadow: 1px 3px 15px #8d791c80;
        transform: translatey(-30px);
      }
    }
  }

  #bloco-re {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
  }

  .rece h1 {
    font-size: 3.5rem;
  
  }

  .rece li {
    text-align: justify;
    margin-bottom: 5%;
    letter-spacing: 2px;
    line-height: 20px;
  }
}